gravy-galaxy/target
gravy-galaxy/**/*.rs.bk
gravy-galaxy/Cargo.lock
gravy-galaxy/bin/
gravy-galaxy/pkg/
gravy-galaxy/wasm-pack.log
gravy-galaxy/.*
gravy-galaxy/wasm-pack.log

# Logs
*/logs
*/*.log
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/pnpm-debug.log*
*/lerna-debug.log*

www/public/res
*/node_modules
*/dist
*/dist-ssr
*/*.local
*/pnpm-lock.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
